<footer class="footer">
    <article class="fadein">
        <div>
            <div class="footer-logo">
                <img src="/img/logo.webp" alt="logo" />
            </div>
            <div class="footer-list">
                <h3>
                    What We Offer
                </h3>
                <ul>
                    <li>Recruitment</li>
                    <li>Control</li>
                    <li>
                        Comfortable working environment
                    </li>
                    <li>Flexibility</li>
                    <li>
                        Competitive pricing
                    </li>
                </ul>
            </div>
            <div class="footer-list _link">
                <h3>
                    Contact Us
                </h3>
                <ul>
                    <li>
                        <a href="mailto:contact@bloklabs.net" target="_blank">
                            <partial name="Assets/Mail" />
                            <p>contact@bloklabs.net</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-list _link _social">
                <h3>
                    Follow Us
                </h3>
                <ul>
                    <li>
                        <a href="#t" target="_blank">
                            <partial name="Assets/Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <partial name="Assets/Instagram" />
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <partial name="Assets/LinkedIn" />
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <partial name="Assets/Twitter" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <p>© @DateTime.Now.Year BlokLabs L.L.C. All Rights Reserved</p>
        </div>
    </article>
    <img src="img/shape3.webp" class="footer-shape _left" alt="shape 3" />
    <img src="img/shape2.webp" class="footer-shape _right" alt="shape 2" />
</footer>