<li>
    <a href="/">Home</a>
</li>
<li>
    <a href="#why-bloklabs">Why Bloklabs</a>
</li>
<li>
    <a href="#services">Services</a>
</li>
<li>
    <a href="#team">Create Your Team</a>
</li>
<li>
    <a href="#private-office">Private Office</a>
</li>
<li>
    <a href="contact" class="--button _secondary">Contact</a>
</li>