@{
    Html.Bundle("css/index.css");
}

<section class="about">
    <article>
        <div class="about-image fade-right">
            <img alt="about" src="img/about.webp" />
        </div>
        <div class="about-description">
            <div>
                <h3 class="fade-left">BLOKLABS</h3>
                <h2 class="fade-left">Increasing <strong>productivity</strong> in the workplace, while drastically cutting down costs</h2>
                <a href="#services" class="--button _secondary fade-left">View Services</a>
            </div>
        </div>
    </article>
</section>
<section class="blocklabs" id="why-bloklabs">
    <article>
        <h2 class="fadeout">
            Bloklabs In A Nutshell
        </h2>
        <div class="blocklabs-card">
            <div class="card fade-left">
                <div class="card-svg">
                    <partial name="Assets/Employees" />
                </div>
                <h3>Skilled Employees at low costs</h3>
                <p>
                    Welcome to BlokLabs, recruiting skilled employees for businesses that are looking to cut costs and increase efficiency.
                </p>
            </div>
            <div class="card fadein">
                <div class="card-svg">
                    <partial name="Assets/Enjoys" />
                </div>
                <h3>You choose, we hire, we fire</h3>
                <p>
                    Tell us your needs and let us provide you with a unique pool of talented professionals that you choose from. Let us take care of the rest and your team will be ready to work within days.
                </p>
            </div>
            <div class="card fade-right">
                <div class="card-svg">
                    <partial name="Assets/Location" />
                </div>
                <h3>
                    Our Employees , your Team
                </h3>
                <p>
                    Tired of the legal bureaucracy when hiring? We take care of that, employees are hired by Bloklabs directly and work exclusively for you.
                    A simple expense on your balance sheet
                </p>
            </div>
        </div>
        <img src="/img/shape2.webp" alt="shape 2" />
    </article>
    <img src="/img/shape3.webp" alt="shape 3" />
</section>
<section class="description">
    <article>
        <h2 class="fadeout">
            Why BlokLabs?
        </h2>
        <div class="description-card">
            <div class="card fade-left">
                <h2>01</h2>
                <h3>
                    Your team in one Office - together
                </h3>
                <p>We provide office spaces, employees, guaranteeing presence at the workplace every day. What is left on your side? Putting your team to work!</p>
            </div>
            <div class="card fadein">
                <h2>02</h2>
                <h3>
                    Save on employees & office space
                </h3>
                <p>Lebanon’s price competitive labor market is home to highly literate trilingual educated individuals. All employees work in the office spaces we provide</p>
            </div>
            <div class="card fade-right">
                <h2>03</h2>
                <h3>
                    Flexibility
                </h3>
                <p>Terminate, demote, or promote contracts with short notice, and adjust your workforce as needed to ensure maximum productivity.</p>
            </div>
        </div>
    </article>
</section>
<section class="offer" id="services">
    <article>
        <div class="card">
            <h2 class="fade-left">
                What We Offer
            </h2>
            <p class="fade-left">
                At BlokLabs, we handle the entire process of recruitment, setting up employee work stations, and even lay offs when necessary. Our team takes care of all the details, so you can focus on running your business.
            </p>
        </div>
        <div class="card fadein">
            <div class="card-svg">
                <partial name="Assets/Recruitment" />
            </div>
            <h3>
                Recruitment
            </h3>
            <p>
                We find the suited employees adapted to the department/qualifications required.
            </p>
        </div>
        <div class="card fadein">
            <div class="card-svg">
                <partial name="Assets/Control" />
            </div>
            <h3>
                Control
            </h3>
            <p>
                We find the suited employees adapted to the department/qualifications required.
            </p>
        </div>
        <div class="card fadein">
            <div class="card-svg">
                <partial name="Assets/Comfortable" />
            </div>
            <h3>
                Comfortable working environment
            </h3>
            <p>
                Employees at BlokLabs receive their own desk fully set up and ready to work. Employees work in a professional and comfortable environment.
            </p>
        </div>
        <div class="card fadein">
            <div class="card-svg">
                <partial name="Assets/Flexibility" />
            </div>
            <h3>
                Flexibility
            </h3>
            <p>
                Termination/demotion/promotion of contract can be done inexpensively with short notice to ensure maximum productivity of the workforce.
            </p>
        </div>
        <div class="card fadein">
            <div class="card-svg">
                <partial name="Assets/Efficient" />
            </div>
            <h3>
                Quick and Efficient Onboarding
            </h3>
            <p>
                We have a simple and streamlined process to ensure that our clients get the right employees quickly and efficiently
            </p>
        </div>
    </article>
    <img src="img/shape3.webp" class="offer-shape _left" alt="shape 3" />
    <img src="img/shape2.webp" class="offer-shape _right" alt="shape 2" />
</section>
<section class="list">
    <article>
        <div class="card">
            <h2 class="fadein">
                Bloklabs
            </h2>
            <ul class="fadein"><li>Your team, your decisions!</li><li>Save up to 50% on employees</li><li>We handle recruitment (including all administrative tasks)</li><li>Favourable Timezone. (GMT+2)</li><li>Highly qualified employees</li><li>Physical access to the office and your team</li><li>Possibility for you to expatriate managers to join your new team and guide them</li><li>Private office space for 1 company: 15+ employees required</li><li>Flexibility to expand or reduce rapidly</li><li>The right skills across all departments</li><li>Gives you time to focus on what matters: Your Business!</li></ul>
        </div>
        <div class="card">
            <h2 class="fadein">Traditional Outsourcing <br />Company</h2>
            <ul class="fadein"><li>Freelancers, Task-based work</li><li>Not your team, no contact to taskforce</li><li>Unfavourable Timezone</li><li>Task force changes constantly</li><li>Knowledge transfer conflicts</li><li>Language barriers</li></ul>
        </div>
    </article>
</section>
<section class="teams" id="team">
    <article>
        <div class="teams-left">
            <h2 class="fade-left">Creating Your Team Only Takes 2 <br />Weeks!</h2>
            <div class="teams-left-img fade-left">
                <img alt="teams" src="img/businesspeople-using-digital-tablet-while-standing-boardroom.webp" />
            </div>
        </div>
        <div class="teams-right">
            <div class="card fade-right">
                <div class="card-svg">
                    <partial name="Assets/Meating" />
                </div>
                <p>We have a meeting to discuss a clients specific case. This includes the desired size of the workforce, specific department(s) of interest and the timeframe/duration</p>
                <p>Discuss the preferred hiring method there are two main options:</p>
                <p><strong>Option 1:</strong> we find, interview and hire the employees that best suit your needs</p>
                <p><strong>Option 2:</strong> we provide you with a selection of employees that best suit your needs and your HR team can pick</p>
                <div class="card-shape">
                    <span>1</span>
                </div>
            </div>
            <div class="card fade-right">
                <div class="card-svg">
                    <partial name="Assets/Contrat" />
                </div>
                <p>As soon as both parties come to an agreement for the desired team, the hiring process begins which includes all details such as the set up cost per employee, pricing, agreements details.</p>
                <div class="card-shape">
                    <span>2</span>
                </div>
            </div>
            <div class="card fade-right">
                <div class="card-svg">
                    <partial name="Assets/Time" />
                </div>
                <p>
                    It takes 2 weeks, your team will be set up and ready to work.
                </p>
                <div class="card-shape">
                    <span>3</span>
                </div>
            </div>
        </div>
    </article>
</section>
<section class="office" id="private-office">
    <article>
        <div>
            <div class="office-left">
                <div class="office-left-img fade-left">
                    <img src="img/shape3.webp" class="office-left-shape _left fadein" alt="shape 3" />
                    <img src="img/shape2.webp" class="office-left-shape _right fade-left" alt="shape 2" />
                    <img alt="office image" src="img/charming-young-business-woman-entrepreneur-working-with-laptop-computer.webp" />
                </div>
            </div>
            <div class="office-right">
                <h2 class="fadein">Private Office</h2>
                <p class="fadein">If your company is hiring 15+ employees</p>
                <ul class="fadein"><li>Gain access to your private office</li><li>Possibility for you to expatriate managers to join your new team and guide them</li><li>All offices are completely maintained</li></ul>
                <a href="/contact" class="--button _secondary fadein">Contact Us</a>
            </div>
        </div>
    </article>
</section>